.btnContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 157px;
  height: 37px;
  border: radius 10px;
}

.iconContainer {
  height: 80%;
  /* width: 15%; */
  margin-right: 2px;
}

.textContainer {
  height: 100%;
  width: 85%;
  text-align: center;
}
