@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #c1cfde, white);
  padding: 0 4%;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}

.btn--red {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  background-color: #e85a71;
  color: white;
  margin: 0 1rem;
}

.btn--red:hover {
  background-color: #9c1458;
}

.btn--black {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  background-color: #454552;
  color: white;
}

.btn--black:hover {
  background-color: #c6c6c6;
  color: black;
}

.btn--white {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  background-color: white;
  color: black;
  margin: 0 1rem;
}

.btn--white:hover {
  background-color: #c6c6c6;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
